html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

label {
  float: left;
}

#submissionForm{
  
}

.inputText {
}

#main {
  float: left;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 90%;
}

#content {
  float: right;
  width: 25%;
  background-color: coral;
  height: inherit;
}

#search {
  float: right;
  width: 25%;
  background-color: aquamarine;
  height: inherit;
}

#sidebar {
  float: right;
  width: 50%;
  background-color: aqua;
  overflow-y: scroll;
  height: inherit;
}

#footer {
  height: 10%;
}
